<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        header {
            width: auto;
            height: 100px;
            align-content: flex-start;
            background: black;
            text-align: center;
            color: aliceblue;
        }

        footer {
            width: auto;
            background: black;
            text-align: center;
            color: aqua;
            align-content: flex-end;
            vertical-align: bottom;
            position: absolute;
        }
    </style>
    <title>Azar Time</title>
</head>

<body>
    {{> header}}
    <div>
        <h1>hello</h1>
    </div>
    {{> footer}}
</body>

</html>